* {
    background-color: rgb(60, 60, 60);
    color: white;
}
QPushButton, QToolButton {
    background-color: rgb(
}
QPushButton[MainButton="true"] {
    background-color: green;
    color: white;
    font-weight: bold;
}
QPushButton:disabled {
    color:#AAAAAA;
}