/* Chip Editor */
ChipSceneViewer {
    border: 5px inset @darkBorder;
}
FloatingWidget {
    background-color: transparent;
    margin: 20px;
}
ActionButtonFrame {
    margin: 10px;
    background-color: transparent;
}
ActionButtonFrame QToolButton {
    padding: 10px;
}
WidgetChipItemContainer {
    background: transparent;
}
WidgetChipItemContents {
    background-color: @backgroundColor;
}
WidgetChipItemContents[state='None'] {
    border: 1px solid @darkBorder;
    margin: 3px;
}
WidgetChipItemContents[state='Hover'] {
    border: 2px solid @accentColor;
    margin: 2px;
}
WidgetChipItemContents[state='Select'] {
    border: 2px solid @accentHoverColor;
    margin: 2px;
}
WidgetChipItemContents[state='HoverAndSelect'] {
    border: 4px solid @accentPressColor;
    margin: 0px;
}
MovingHandle {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    background-color: @accentColor;
}
MovingHandle::hover {
    background-color: @accentHoverColor;
}
MovingHandle::pressed {
    background-color: @accentPressColor;
}
WidgetChipItemContents > QLabel {
    background-color: @barColor;
    padding: 5px;
}