/* Chip Editor */
ChipSceneViewer {
    border: 5px inset @darkBorder;
}
ChipSceneViewer > QFrame {
    background-color: transparent;
    margin: 20px;
}
ChipEditor QToolButton {
    margin: 5px;
	min-width: 50;
	min-height: 50;
	max-width: 50;
	max-height: 50;
}
WidgetChipItemContainer {
    background: transparent;
}
WidgetChipItemContents {
    background-color: @backgroundColor;
}
WidgetChipItemContents[state='None'] {
    border: 4px solid @lightColor;
    margin: 4px;
}
WidgetChipItemContents[state='Hover'] {
    border: 4px solid @editorBorderHighlight;
    margin: 4px;
}
WidgetChipItemContents[state='Select'] {
    border: 4px solid @editorBorderSelect;
    margin: 4px;
}
WidgetChipItemContents[state='HoverAndSelect'] {
    border: 6px solid @editorBorderSelect;
    margin: 2px;
}
WidgetChipItemContents QLabel {
    padding: 0 20px 0 20px;
}
WidgetChipItemContents > QLabel {
    padding: 10px;
}
WidgetChipItemContents > ImageLabel {
    padding: 0;
}
WidgetChipItemContents > QPushButton {
    padding: 5px;
}
WidgetChipItemContents QLineEdit, WidgetChipItemContents QAbstractSpinBox, WidgetChipItemContents QComboBox {
    padding: 10px;
}
MovingHandle {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    background-color: @attentionColor;
}
MovingHandle::hover {
    background-color: @attentionPressColor;
}