Inspector {
    padding: 0px;
    margin: 20px;
    border: 5px solid @transparentBorderColor;
    background-color: transparent;
    border-width: -10px 10px 10px -10px;
}
TitleWidget {
    padding: 5px;
    font-weight: bold;
    background-color: @accentHoverColor;
}
Inspector > QFrame, Inspector > QFrame QLabel {
    padding: 5px;
}