Inspector {
    padding: 0px;
    margin: 20px;
    background-color: transparent;
    border: 1px solid @darkBorder;
}
TitleWidget {
    padding: 5px;
    font-weight: bold;
    background-color: @accentColor;
    border: 1px solid @borderColor;
    border-width: 0 0 1px 0;
}
Inspector > QFrame, Inspector > QFrame QLabel {
    padding: 5px;
}