ProgramInstanceWidget > QLabel {
    font-weight: bold;
    padding: 5px;
    background-color: @barColor;
}
ProgramInstanceWidget > QPushButton {
    min-width: 80px;
}
ProgramInstanceWidget QPlainTextEdit {
    background-color: @darkColor;
    border: 4px inset @darkBorder;
    min-width: 200px;
    min-height: 200px;
}
ProgramInstanceWidget > QFrame > QLabel {
    padding: 10px;
}
ProgramInstanceWidget QAbstractSpinBox {
    min-width: 50px;
}