ProgramList QToolButton {
    max-width: 15px;
    max-height: 15px;
    padding: 5px;
    border: 1px solid @borderColor;
    border-width: 0 0 0 1px;
}
ProgramList > QLabel {
    padding: 5px;
    font-weight: bold;
    background-color: @barColor;
    border: 2px solid @borderColor;
}