ProgramEditorWindow QTabWidget::pane {
    border-top: 2px solid @borderColor;
}
Instructions {
    min-width: 450px;
    border: 4px inset @borderColor;
}
Instructions QLabel{
    padding: 10px;
    background-color: @backgroundColor;
}
ProgramEditorTab {
    min-width: 640;
    min-height: 480;
}
ProgramEditorTab QLineEdit {
    padding: 5px;
}
ParameterEditor > QLabel, #DescriptionLabel {
    font-weight: bold;
    background-color: @barColor;
    padding: 10px;
}
ParameterEditor > QPushButton {
    padding: 10px;
}
CodeTextEditorWidget {
    font-family: "Consolas";
    background-color: @darkColor;
}
ProgramEditorTab > QFrame > QFrame > QPlainTextEdit {
    border: 4px inset @darkBorder;
    background-color: @darkColor;
}
ParameterEditor QScrollArea {
    min-width: 250px;
}
ParameterEditorItem {
    border: 1px solid @borderColor;
    border-width: 0 0 2px 0;
    background-color: @lightColor;
}
ParameterEditorItem QAbstractSpinBox, ParameterEditorItem QLineEdit, ParameterEditorItem QComboBox {
    padding: 7px;
}
ParameterEditorItem QLabel {
    padding: 5px;
}
ParameterEditorItem QToolButton {
    min-width: 30px;
    min-height: 30px;
}