/* Rig View */
RigViewer > *[IsHeader=true] {
    padding: 0 10px 0 10px;
    border: 5px solid @borderColor;
    border-width: 0 1px 4px 0;
}
RigViewer > * {
    border: 1px solid @borderColor;
    border-width: 0 1px 1px 0;
}
SolenoidButton {
    padding: 3px;
}
SolenoidButton::disabled {
    background-color: transparent;
}
#RescanButton {
    padding: 5px;
}