/* Rig View */
RigViewer > * {
    border: 1px solid @borderColor;
}
RigViewer > *[IsHeader=true] {
    padding: 10px;
}
RigViewer > QPushButton {
    min-width: 80px;
    max-width: 80px;
}
QAbstractButton[IsOpen=true] {
	background-color: @valveOpenColor;
}
QAbstractButton[IsOpen=false]{
	background-color: @valveClosedColor;
}
QAbstractButton[IsOpen=true]::hover {
	background-color: @valveOpenColorHover;
}
QAbstractButton[IsOpen=false]::hover{
	background-color: @valveClosedColorHover;
}
QAbstractButton[IsOpen=true]::pressed {
	background-color: @valveOpenColorPress;
}
QAbstractButton[IsOpen=false]::pressed {
	background-color: @valveClosedColorPress;
}