/* Rig View */
SolenoidButton {
    padding: 3px;
}
SolenoidButton::disabled {
    background-color: transparent;
}
RigViewer QPushButton, RigViewer QLabel {
    padding: 5px 10px 5px 10px;
    border: 1px solid @borderColor;
    border-width: 0 0 1px 0;
}