RunningProgramsList {
    min-width: 300px;
}
RunningProgramItem RunningProgramItem {
    padding-left: 20px;
}
RunningProgramItem QLabel{
    padding: 5px;
}
RunningProgramItem QPushButton {
    padding: 10px;
}
RunningProgramItem[IsEven=true], RunningProgramItem[IsEven=true] QLabel {
    background-color: @backgroundColor;
}

RunningProgramItem[IsEven=false], RunningProgramItem[IsEven=false] QLabel {
    background-color: @lightColor;
}