* {
    color: @textColor;
    background-color: @backgroundColor;
    border-color: @borderColor;
    border: none;
}
*[Attention=true] {
    background-color: @attentionColor;
    font-weight: bold;
}
*[Attention=true]::hover {
    background-color: @attentionHoverColor;
    font-weight: bold;
}
*[Attention=true]::pressed {
    background-color: @attentionPressColor;
    font-weight: bold;
}
QAbstractButton, QSpinBox, QLineEdit, QMenuBar::item, QMenu::item, QListView::item, QScrollBar::handle, QTabBar::tab,
    QComboBox, QTabBar::close-button, QDockWidget::close-button {
    background-color: @controlNormalColor;
}
QAbstractButton::hover, QSpinBox::hover, QLineEdit::hover, QMenuBar::item:selected, QMenu::item:selected,
    QListView::item:hover, QScrollBar::handle:hover, QTabBar::tab:hover, QComboBox::hover, QTabBar::close-button:hover,
    QDockWidget::close-button:hover {
    background-color: @controlHoverColor;
}
QAbstractButton::pressed, QSpinBox::presse, QLineEdit::pressed, QMenuBar::item:pressed, QListView::item:selected,
    QScrollBar::handle:pressed, QTabBar::tab:selected, QTabBar::close-button::pressed, QDockWidget::close-button:pressed {
    background-color: @controlPressColor;
}
QDockWidget {
    font-weight: bold;
    min-width: 200px;
    min-height: 200px;
}
QDockWidget {
    titlebar-close-icon: url(Images/closeIcon.png);
}
QDockWidget::close-button {
    subcontrol-origin: content;
}
QDockWidget::close-button:hover {
    border: none;
}
QTabBar::close-button {
    image: url(Images/closeIcon.png);
    subcontrol-position: left;
    padding: 5px;
}
QTabBar::tab {
    padding: 5px 15px 5px 10px;
}
QDockWidget > QFrame {
    border: 2px solid @borderColor;
    border-top-width: 0px;
}
QDockWidget::title {
    padding: 5px 5px 0 5px;
    background-color: @barColor;
    border: 2px solid @borderColor;
    border-bottom-width: 0px;
}
QMenuBar {
    min-height: 30px;
    background-color: @controlNormalColor;
}
QMenu::separator {
    height: 1px;
    background-color: @lightColor;
}
QListView::item:selected {
    color: white;
    border: none;
}
 QScrollBar {
    border: none;
    background-color: @barColor;
 }
 QScrollBar::handle {
    border: none;
    margin: 2px;
 }
 QScrollBar::add-line, QScrollBar::sub-line {
    height: 0;
    width: 0;
 }
 QScrollBar::add-page, QScrollBar::sub-page {
    background: none;
 }
 QAbstractSpinBox {
    padding-left: 10px;
 }