ProgramEditorWindow QTabWidget::pane {
    border-top: 2px solid @borderColor;
}
ProgramEditorTab {
    min-width: 1000;
    min-height: 600;
}
ProgramEditorTab QLineEdit {
    padding: 5px;
}
ParameterEditor > QLabel {
    font-weight: bold;
    background-color: @barColor;
    padding: 10px;
}
ParameterEditor > QPushButton {
    padding: 10px;
}
ProgramEditorTab QTextEdit {
    font-family: "Consolas";
    background-color: @darkColor;
}
CodeTextEditor {
    border: 4px inset @darkBorder;
}
ParameterEditor QScrollArea {
    min-width: 250px;
}
ParameterEditorItem {
    border: 1px solid @borderColor;
    border-width: 0 0 2px 0;
    background-color: @lightColor;
}
ParameterEditorItem QAbstractSpinBox, ParameterEditorItem QLineEdit, ParameterEditorItem QComboBox {
    padding: 7px;
}
ParameterEditorItem QLabel {
    padding: 5px;
}
ParameterEditorItem QToolButton {
    min-width: 30px;
    min-height: 30px;
}