ProgramEditorTab {
    min-width: 1000;
    min-height: 600;
}
ProgramEditorTab QTextEdit {
    font-family: "Consolas";
}
ParameterEditor QScrollArea {
    min-width: 240px;
}
ParameterEditorItem {
    min-width: 220px;
    max-width: 220px;
    border: 5px solid transparent;
    border-width: 0 0 20px 0;
}
ParameterEditorItem QLabel {
    padding-right: 15px;
}