/* setup */
* {
    background-color: rgba(50, 50, 50, 1);
    border-color: rgba(80, 80, 80, 1);
    color: rgba(230, 230, 230, 1);
    border-style: solid;
    border-width: 0px;
    padding: 0px;
    spacing: 0px;
    margin: 0px;
	qproperty-alignment: AlignCenter;
}

MainWindow * {
	min-height: 0;
}

/* Menu Bar */
MenuBar {
    border-width: 0px 0px 1px 0px;
}
QMenuBar::item:selected, QMenu::item:selected {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

/* Toolbar */
MainToolbar {
    border-width: 0px 0px 1px 0px;
    background-color: rgba(0, 0, 0, 0.2);
}
MainToolbar > QFrame {
	border-right-width: 1px;
	min-width: 0px;
}
MainToolbar QLabel {
	background-color: transparent;
}
MainToolbar QPushButton, MainToolbar QToolButton {
	text-align: left;
	padding: 5px;
	qproperty-iconSize: 20px;
}

/* Drop-down */
QComboBox {
    min-height: 31px;
    min-width: 80px;
    border-width: 0 1px 1px 1px;
    padding: 0 15px 0 15px;
    background-color: rgba(255, 255, 255, 0.1);
}
QComboBox::hover {
	background-color: rgba(255, 255, 255, 0);
}
QComboBox::down-arrow {
    image: url(Assets/downArrow.png);
}
QComboBox QAbstractItemView::item, QListWidget::item { 
    min-width: 50px; 
}
QListView, QLineEdit {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
QListView::item:selected { 
    background-color: rgba(0, 0, 0, 0.2);
}

/* Buttons */
QPushButton:hover, QToolButton:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
QPushButton:pressed, QToolButton:pressed {
    background-color: rgba(0, 0, 0, 0.4);
}
QPushButton:disabled, QToolButton:disabled {
    color: rgba(100, 100, 100, 1);
}

/* Tab Bar */
QTabWidget::pane {
    border: none;
}
QTabBar::tab {
    background-color: rgba(255, 255, 255, 0.05);
}
QTabBar::tab:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
QTabBar::tab:selected {
    background-color: rgba(232, 200, 93, 1);
    color: black;
}
QTabBar::close-button {
    image: url(Assets/closeIcon.png);
}

/* World Browser */
WorldBrowser {
    border: 5px inset rgba(30, 30, 30, 1);
}
#BlockItem * {
    background-color: rgba(30, 30, 30, 1);
    border-radius: 8px;
}
ChipParametersList, ChipValvesList{
	max-width: 300px;
	min-width: 200px;
	min-height: 200px;
}