WidgetChipItemContainer[state='None'] {
	background-color: white;
}
WidgetChipItemContainer[state='Hover'] {
	background-color: red;
}
WidgetChipItemContainer[state='Select'] {
	background-color: blue;
}
WidgetChipItemContainer[state='HoverAndSelect'] {
	background-color: yellow;
}
QToolButton[valveState='OPEN'] {
	background-color: green;
}
QToolButton[valveState='CLOSED']{
	background-color: red;
}
ChipEditor QToolButton {
	min-width: 50;
	min-height: 50;
	max-width: 50;
	max-height: 50;
}
ChipInspector {
    min-width: 200;
    max-width: 200;
}
SolenoidButton QToolButton {
	min-width: 30;
	min-height: 30;
	max-width: 30;
	max-height: 30;
    background-color: red;
    background-repeat: false;
}
SolenoidButton QToolButton:checked {
    background-color: green;
    qproperty-autoRaise: false;
}
ProgramContextDisplay > QWidget {
    border: 1px solid rgba(40, 40, 40, 1);
    border-width: 1px 1px 1px 0px;
}

ProgramContextDisplay QLineEdit {
    background-color: transparent;
    border-color: red;
}
ProgramContextDisplay QLineEdit:focus {
    background-color: white;
}
ProgramEditorTab {
    min-width: 1000;
    min-height: 600;
}
ProgramEditorTab QTextEdit {
    font-family: "Consolas";
}
ParameterEditor QScrollArea {
    min-width: 240px;
}
ParameterEditorItem {
    min-width: 220px;
    max-width: 220px;
    border: 5px solid transparent;
    border-width: 0 0 20px 0;
}
ParameterEditorItem QLabel {
    padding-right: 15px;
}