QLineEdit {
    max-width: 100px;
}

WidgetChipItemContainer{
    background: transparent;
}
WidgetChipItemContainer QLabel {
    color: white;
}
WidgetChipItemContainer > QWidget {
    background-color: rgba(50, 50, 50, 1);
    border-radius: 8px;
}
WidgetChipItemContainer > QWidget[state='None'] {
    border: 4px solid rgba(100, 100, 100, 1);
    margin: 4px;
}
WidgetChipItemContainer > QWidget[state='Hover'] {
    border: 4px solid rgba(35, 159, 168, 1);
    margin: 4px;
}
WidgetChipItemContainer > QWidget[state='Select'] {
    border: 4px solid rgba(52, 222, 235, 1);
    margin: 4px;
}
WidgetChipItemContainer > QWidget[state='HoverAndSelect'] {
    border: 6px solid rgba(52, 222, 235, 1);
    margin: 2px;
}
QToolButton[valveState='OPEN'] {
    border-radius: 4px;
	background-color: green;
}
QToolButton[valveState='CLOSED']{
    border-radius: 4px;
	background-color: red;
}
ChipEditor QToolButton {
	min-width: 50;
	min-height: 50;
	max-width: 50;
	max-height: 50;
}
ChipInspector {
    min-width: 200;
    max-width: 200;
}
SolenoidButton QToolButton {
	min-width: 30;
	min-height: 30;
	max-width: 30;
	max-height: 30;
    background-color: red;
    background-repeat: false;
}
SolenoidButton QToolButton:checked {
    background-color: green;
    qproperty-autoRaise: false;
}
ProgramContextDisplay > QWidget {
    border: 1px solid rgba(40, 40, 40, 1);
    border-width: 1px 1px 1px 0px;
}

ProgramContextDisplay QLineEdit {
    background-color: transparent;
    border-color: red;
}
ProgramContextDisplay QLineEdit:focus {
    background-color: white;
}
ProgramEditorTab {
    min-width: 1000;
    min-height: 600;
}
ProgramEditorTab QTextEdit {
    font-family: "Consolas";
}
ParameterEditor QScrollArea {
    min-width: 240px;
}
ParameterEditorItem {
    min-width: 220px;
    max-width: 220px;
    border: 5px solid transparent;
    border-width: 0 0 20px 0;
}
ParameterEditorItem QLabel {
    padding-right: 15px;
}
MovingHandle {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;

    background-color: blue
}